#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &mtk64_physical_layout;
    };
    
    mtk64_physical_layout: mtk64_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        // https://zmk-physical-layout-converter.streamlit.app/
        keys  //                 w   h    x    y     rot    rx    ry
        = <&key_physical_attrs 100 100    0   60       0     0     0>
        , <&key_physical_attrs 100 100  100   60       0     0     0>
        , <&key_physical_attrs 100 100  200   25       0     0     0>
        , <&key_physical_attrs 100 100  300    0       0     0     0>
        , <&key_physical_attrs 100 100  400   12       0     0     0>
        , <&key_physical_attrs 100 100  500   25       0     0     0>
        , <&key_physical_attrs 100 100 1200   25       0     0     0>
        , <&key_physical_attrs 100 100 1300   12       0     0     0>
        , <&key_physical_attrs 100 100 1400    0       0     0     0>
        , <&key_physical_attrs 100 100 1500   25       0     0     0>
        , <&key_physical_attrs 100 100 1600   60       0     0     0>
        , <&key_physical_attrs 100 100 1700   60       0     0     0>

        , <&key_physical_attrs 100 100    0  160       0     0     0>
        , <&key_physical_attrs 100 100  100  160       0     0     0>
        , <&key_physical_attrs 100 100  200  125       0     0     0>
        , <&key_physical_attrs 100 100  300  100       0     0     0>
        , <&key_physical_attrs 100 100  400  112       0     0     0>
        , <&key_physical_attrs 100 100  500  125       0     0     0>
        , <&key_physical_attrs 100 100 1200  125       0     0     0>
        , <&key_physical_attrs 100 100 1300  112       0     0     0>
        , <&key_physical_attrs 100 100 1400  100       0     0     0>
        , <&key_physical_attrs 100 100 1500  125       0     0     0>
        , <&key_physical_attrs 100 100 1600  160       0     0     0>
        , <&key_physical_attrs 100 100 1700  160       0     0     0>

        , <&key_physical_attrs 100 100    0  260       0     0     0>
        , <&key_physical_attrs 100 100  100  260       0     0     0>
        , <&key_physical_attrs 100 100  200  225       0     0     0>
        , <&key_physical_attrs 100 100  300  200       0     0     0>
        , <&key_physical_attrs 100 100  400  212       0     0     0>
        , <&key_physical_attrs 100 100  500  225       0     0     0>
        , <&key_physical_attrs 100 100 1200  225       0     0     0>
        , <&key_physical_attrs 100 100 1300  212       0     0     0>
        , <&key_physical_attrs 100 100 1400  200       0     0     0>
        , <&key_physical_attrs 100 100 1500  225       0     0     0>
        , <&key_physical_attrs 100 100 1600  260       0     0     0>
        , <&key_physical_attrs 100 100 1700  260       0     0     0>

        , <&key_physical_attrs 100 100    0  360       0     0     0>
        , <&key_physical_attrs 100 100  100  360       0     0     0>
        , <&key_physical_attrs 100 100  200  325       0     0     0>
        , <&key_physical_attrs 100 100  300  300       0     0     0>
        , <&key_physical_attrs 100 100  400  312       0     0     0>
        , <&key_physical_attrs 100 100  500  325       0     0     0>
        , <&key_physical_attrs 100 100  600  340       0     0     0>
        , <&key_physical_attrs 100 100 1100  340       0     0     0>
        , <&key_physical_attrs 100 100 1200  325       0     0     0>
        , <&key_physical_attrs 100 100 1300  312       0     0     0>
        , <&key_physical_attrs 100 100 1400  300       0     0     0>
        , <&key_physical_attrs 100 100 1500  325       0     0     0>
        , <&key_physical_attrs 100 100 1600  360       0     0     0>
        , <&key_physical_attrs 100 100 1700  360       0     0     0>

        , <&key_physical_attrs 100 100    0  460       0     0     0>
        , <&key_physical_attrs 100 100  100  460       0     0     0>
        , <&key_physical_attrs 100 100  600  475       0     0     0>
        , <&key_physical_attrs 100 100  700  480       0     0     0>
        , <&key_physical_attrs 100 100 1000  480       0     0     0>
        , <&key_physical_attrs 100 100 1100  475       0     0     0>
        , <&key_physical_attrs 100 100 1600  460       0     0     0>
        , <&key_physical_attrs 100 100 1700  460       0     0     0>
        
        , <&key_physical_attrs 100 100  275  570       0     0     0>
        , <&key_physical_attrs 100 100  425  570       0     0     0>
        , <&key_physical_attrs 100 100  750  565       0     0     0>
        , <&key_physical_attrs 100 100  950  565       0     0     0>
        , <&key_physical_attrs 100 100 1275  570       0     0     0>
        , <&key_physical_attrs 100 100 1425  570       0     0     0>

        , <&key_physical_attrs 100 100  650  635       0     0     0>
        , <&key_physical_attrs 100 100 1050  635       0     0     0>

        , <&key_physical_attrs 100 100  100  835       0     0     0>
        , <&key_physical_attrs 100 100  200  835       0     0     0>
        , <&key_physical_attrs 100 100  300  835       0     0     0>
        , <&key_physical_attrs 100 100 1400  835       0     0     0>
        , <&key_physical_attrs 100 100 1500  835       0     0     0>
        , <&key_physical_attrs 100 100 1600  835       0     0     0>

        , <&key_physical_attrs 100 100  750  900       0     0     0>
        , <&key_physical_attrs 100 100  850  900       0     0     0>
        , <&key_physical_attrs 100 100  950  900       0     0     0>

            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <21>;
        rows = <7>;               

        map = <
        RC(1,0)  RC(2,0)  RC(3,0)  RC(4,0)  RC(5,0)  RC(6,0)                    RC(13,0)  RC(12,0) RC(11,0) RC(10,0) RC(9,0)  RC(8,0)  
        RC(0,1)  RC(2,1)  RC(3,1)  RC(4,1)  RC(5,1)  RC(6,1)                    RC(13,1)  RC(12,1) RC(11,1) RC(10,1) RC(9,1)  RC(7,1)  
        RC(0,2)  RC(1,2)  RC(3,2)  RC(4,2)  RC(5,2)  RC(6,2)                    RC(13,2)  RC(12,2) RC(11,2) RC(10,2) RC(8,2)  RC(7,2)  
        RC(0,3)  RC(1,3)  RC(2,3)  RC(4,3)  RC(5,3)  RC(6,3)  RC(0,5)  RC(7,5)  RC(13,3)  RC(12,3) RC(11,3) RC(9,3)  RC(8,3)  RC(7,3)  
        RC(0,4)  RC(1,4)                             RC(1,5)  RC(2,5)  RC(9,5)  RC(8,5)                              RC(8,4)  RC(7,4)  
                          RC(2,4)           RC(3,4)           RC(3,5)  RC(10,5)           RC(10,4)          RC(9,4)            
                                                              RC(4,5)  RC(11,5)                                
                 RC(0,6)  RC(1,6)  RC(2,6)                                                         RC(7,6)  RC(8,6)  RC(9,6)  
                                                         RC(14,6) RC(15,6) RC(16,6)  
             >;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        interrupt-gpios = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        gpios =   <&xiao_d 1 GPIO_ACTIVE_HIGH> 
                , <&xiao_d 2 GPIO_ACTIVE_HIGH> 
                , <&xiao_d 3 GPIO_ACTIVE_HIGH> 
                , <&xiao_d 6 GPIO_ACTIVE_HIGH>
                , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
                , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
                , <&xiao_d 9 GPIO_ACTIVE_HIGH> 	
                ;

    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <15>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <15>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <10>;
    };
};
